/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.img_index {
  width: 60vw;
  border-radius: 2%; }

@media only screen and (max-width: 768px) {
  .img_index {
    width: 80vw; } }

.img_abt {
  width: 25vw;
  border-radius: 2%; }

.btn_custom {
  max-width: 15vw; }

@media only screen and (max-width: 768px) {
  .img_abt {
    width: 65vw; } }
